button,
fieldset,
input {
  all: unset;
}

.Container {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.SignUpContainer {
  display: flex;
  flex-direction: column;
  border-radius: var(--radius-3);
  border-color: var(--gray-7);
  box-shadow: var(--shadow-5);
  min-width: 100px;
  max-width: 350px;
  width: 100%;
  min-height: 200px;
}

.TabsList {
  flex-shrink: 0;
  display: flex;
}

.TabsTrigger {
  font-family: inherit;
  padding: 0 20px;
  height: 45px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  line-height: 1;
  user-select: none;
  cursor: pointer;
}
.TabsTrigger:hover {
  color: var(--accent-10);
}
.TabsTrigger[data-state='active'] {
  color: var(--accent-10);
  box-shadow: inset 0 -1px 0 0 var(--accent-10), 0 1px 0 0 var(--accent-10);
}

.SignUpForms {
  flex-grow: 1;
  padding: 20px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  outline: none;
}

.Title {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  padding-bottom: 20px;
}

.Text {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 1.5;
}

.Fieldset {
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Label {
  font-size: 13px;
  line-height: 1;
  margin-bottom: 10px;
  display: block;
}

.Validation {
  padding-top: 2px;
  font-size: small;
  color: red;
}

.Input {
  flex: 1 0 auto;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 15px;
  line-height: 1;
  box-shadow: 0 0 0 1px;
  height: 35px;
}

.Input:focus {
  box-shadow: 0 0 0 2px var(--accent-10);
}

.Link {
  color: var(--accent-10);
  text-decoration: none;
}

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  width: 100%;
  height: 35px;
  background-color: var(--accent-10);
  color: white;
}

.Button:hover {
  cursor: pointer;
}